<div class="row container-fluid gap-3 justify-content-center mt-5 main">
    <div class="col-2">
        <div class="card text-center info-box p-4 bg-1" [routerLink]="'/pages/dashboard'">
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="row">
                        <span class="info-box-icon bg-primary">
                            <i class="fa fa-globe"></i>
                        </span>
                    </div>
                    <div class="row mt-3">
                        <h6 class="no-margin text-primary text-bold">Dashboard</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-2">
        <div class="card text-center info-box p-4 bg-2" [routerLink]="'/pages/members'">
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="row">
                        <span class="info-box-icon bg-success">
                            <i class="fa-solid fa-users"></i>
                        </span>
                    </div>
                    <div class="row mt-3">
                        <h6 class="no-margin text-success text-bold">Members</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-2">
        <div class="card text-center info-box p-4 bg-3" [routerLink]="'/pages/editors'">
            <div class="card-body">
                <div class="row justify-content-center align-items-center">
                    <div class="row">
                        <span class="info-box-icon bg-warning">
                            <i class="fa-solid fa-user-pen"></i>
                        </span>
                    </div>
                    <div class="row mt-3">
                        <h6 class="no-margin text-warning text-bold">Editors</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-2">
        <div class="card text-center info-box p-4 bg-4" [routerLink]="'/pages/posts'">
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="row">
                        <span class="info-box-icon bg-danger">
                            <i class="fa-regular fa-newspaper"></i>
                        </span>
                    </div>
                    <div class="row mt-3">
                        <h6 class="no-margin text-danger text-bold">Posts</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>